.square{
    height: 110px;
    width: 100px;
    border-radius: 10px ;
    background-color: red;

    animation-name: square;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 2;
    
    /* ! عدد التكرارت */
    animation-iteration-count: infinite;

    /* ! لو عاوز المربع يبدأ عد تنازلي */   
    animation-direction: reverse;
    animation-timing-function:linear;
    /* ! لو عاوزه المربع يتحرك في الاتجاه الصحيح ثم يرجع ثاني */
    animation-direction: alternate;
    
    /* ! و ممكن يتحرك في الاتجاه المعاكس و يعمل الترنيت */
    animation-direction: alternate-reverse;
    
    /* ! في حاجة اسمها انيميشن فل مود بتتحكم في التنسيق هيكون عامل كيف قبل الانيميشن و كيف بعده  */
    /* ! لو عاوز تخلي التصميم يبدأ بأول نسبة  */
    animation-fill-mode: backwards;
    

    /* ! لو عاوز التصميم ينتهي بأخر نسبة  */
    animation-fill-mode: forwards;

    /* ! و لو عاوز الاثنين يبقى اكتب بوث */

    /* ! لو عاوز تتحكم في تشغيل التصميم او توفقه ده عن طريق البلاي استيت */
    animation-play-state: running;

    /* ! و ممكن اختصر الكلام ده كله عن طريق كتابة انيم بالانجليزي ثم تاب و من ثم تدخل القيم*/
    /*! animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: square 2s linear 1s infinite alternate-reverse both running;



    position: absolute;
    top: 10%;
    left: 10%;
}

.square:hover{
    animation-play-state: paused;   
    cursor: pointer;

}

@keyframes square{
    0%{
        background-color: red;

        top: 10%;
        bottom: 90%;
        right: 90%;
        left: 10%;

        rotate: 0deg;
    }
    
    25%{
        background-color: orange;

        top: 90%;
        bottom: 10%;
        right: 90%;
        left: 10%;
        
        rotate: 60deg;

    }
    
    50%{
        background-color: yellow;
        
        top: 90%;
        bottom: 10%;
        right: 10%;
        left: 90%;
        
        rotate: 120deg;

    }
    75%{
        background-color: green;
        
        top: 10%;
        bottom: 90%;
        right: 10%;
        left: 90%;

        rotate: 180deg;
        
    }
    100%{
        background-color: red;

        top: 10%;
        bottom: 10%;
        right: 10%;
        left: 10%;

        rotate: 150deg;

    }

    


    
}

