.container{

    height: 500px;
    width: 500px;
    background-color: #f0f0f0;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-60%, -60%);
    
    /* ! first value is right and the second is bottom and then الضبابية*/
    box-shadow: 16px 16px 15px #d7d7d7 ;
    

    border-radius: 20px ;
}

.face{

    /* ! relative to the parent  */
    position: relative;

    height: 250px;
    width: 60px;

    background: #fce2c4;

    top: 50%;
    left: 50%;

    translate: -50% -50%;

    rotate: 4deg;

    border: 4px #ffa945 solid;
    border-bottom: none;
}

.face::before{
    
    /* ! writint the content is a must if you wrote before or after */
    content: '';
    height: 14px;
    width: 14px;

    background-color: #fce2c4;

    position: absolute;
    top: 170px;
    left: -14px;

    border-left: 6px solid #ffa945;
    border-bottom: 4px solid #ffa945;
    border-right: none;

    transform: skew(-40deg);
    border-bottom-left-radius: 10px;
}

.face::after{

    content: '';

    right: 30px;
    left: 15px;
    height: 25px;
    width: 22px;

    background: #fce2c4;

    position: absolute;
    top:30%;
    left: 97%;


    border-top: #ffa945 3px solid;
    border-bottom: #ffa945 3px solid;
    border-right: #ffa945 6px solid;
    border-left: none;

    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    
    
}