div > .black{
    background-color: black;
    width: 80%;   
    height: 150px;
    margin: 50px 0px 0px 100px;
    padding: 0px;
}

.white{    
    
    padding: 0px;
    background-color: white;
    width: 80%;   
    height: 150px;
    margin: 0px 0px 0px 100px;
}

.green{
    padding: 0px;
    margin: 0px 0px 0px 100px;
    background-color: green;
    width: 80%;   
    height: 150px;
}

<<<<<<< HEAD
.red{   
    
} 
=======
<<<<<<< HEAD
.red{

} 
=======
.red{   
    
} 
>>>>>>> f007b92 (today is 3 march the first day of ramadan 3:23 am and wanted to make the firb character with css and the moonlight with css and wanted to do what i've learnt)
>>>>>>> temp
