/* .shanap{

    position: absolute;
    top: 50%;
    left: 25%;

    width: 185px;
    height: 185px;

    color: black;

    border-radius: 50%;
    box-shadow: 150px 140px 0 0 currentColor,
                270px 240px 0 0 currentColor;
                
    rotate: -40deg;

}

.shanap::before{

    content: '';

    position: absolute;
    top: -22%;
    left: -58%;

    height: 185px;
    width: 380px;
    border-bottom: 180px solid currentColor;
    border-radius: 0 0 0 100%;    
    border-bottom-right-radius: 10%;

    rotate: 30deg;
    transform-origin: right 200px;

    animation: left_shanap 2s linear 1s infinite;

} 

@keyframes left_shanap {
    
    0%{
        rotate: 30deg;
    }
    20%{
        rotate: 20deg;
    }
    40%{
        rotate: 10deg;
    }
    50%{
        rotate: 0deg;
    }
    60%{
        rotate: 10deg;
    }
    80%{
        rotate: 20deg;
    }
    100%{
        rotate: 30deg;
    }
}

.shanap::after{

    content: '';

    position: absolute;
    top: 40%;
    left: 228%;

    height: 185px;
    width: 380px;
    border-bottom: 180px solid currentColor;
    border-radius: 0 0 100% 0 ;    
    border-top-left-radius: 10%;

    rotate: 60deg;
    transform-origin: left 200px;

    animation: right_shanap 2s linear 1s infinite;
} 

@keyframes right_shanap {
    
    0%{
        rotate: 60deg;
    }
    20%{
        rotate: 70deg;
    }
    40%{
        rotate: 80deg;
    }
    50%{
        rotate: 90deg;
    }
    60%{
        rotate: 80deg;
    }
    80%{
        rotate: 70deg;
    }
    100%{
        rotate: 60deg;
    }
}

.hair{

    position: absolute;
    top: 10%;
    left: 10%;

    ! i learnt how to draw the hair
    background-color: aqua;
    width: 200px;
    height: 200px;

    border-bottom: 100px solid red;
    border-radius: 0 0 0 100%;
    
}

*/

.shanap{

    position: absolute;
    top: 1000px;
    left: 1700px;

    width: 89px;
    height: 89px;

    color: black;

    border-radius: 50%;
    box-shadow: 100px 100px 0 0 currentColor,
                180px 100px 0 0 currentColor;
                
    

}

.shanap::before{

    content: '';

    position: absolute;
    top: 8px;
    left: -18px;

    height: 89px;
    width: 190px;
    border-bottom: 89px solid currentColor;
    border-radius: 0 0 0 100%;    
    border-bottom-right-radius: 10%;
    border-top-right-radius: 25%;

    rotate: -10deg;
    transform-origin: right 200px;

    animation: left_shanap 2s linear 1s infinite;

} 

@keyframes left_shanap {
    
    0%{
        rotate: -10deg;
    }
    20%{
        rotate: -15deg;
    }
    40%{
        rotate: -20deg;
    }
    50%{
        rotate: -25deg;
    }
    60%{
        rotate: -20deg;
    }
    80%{
        rotate: -15deg;
    }
    100%{
        rotate: -10deg;
    }
}

.shanap::after{

    content: '';

    position: absolute;
    top: 20%;
    left: 225%;

    height: 89px;
    width: 190px;
    border-bottom: 89px solid currentColor;
    border-radius: 0 0 100% 0 ;    

    rotate: 10deg;
    transform-origin: 30px 160px;

    animation: right_shanap 2s linear 1s infinite;
} 

@keyframes right_shanap {
    
    0%{
        rotate: 10deg;
    }
    20%{
        rotate: 15deg;
    }
    40%{
        rotate: 20deg;
    }
    50%{
        rotate: 25deg;
    }
    60%{
        rotate: 20deg;
    }
    80%{
        rotate: 15deg;
    }
    100%{
        rotate: 10deg;
    }
}

/* 
! this is how you draw the hair
!.hair{
!
!    position: absolute;
!    top: 10%;
!    left: 10%;
!
!    ! i learnt how to draw the hair 
!    ! background-color: aqua; 
!    width: 200px;
!    height: 200px;
!
!    border-bottom: 100px solid red;
!    border-radius: 0 0 0 100%;
!    
!} 
*/