/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
font-family: "Ubuntu", sans-serif; */
/* 
! كده فاضل إني أعمل المشروع بتاع عبدالرحمن جمال و لما اضغط على زر يوريني النظام الشمسي 
! و يكون الكوكب في صورة و اسمه 
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(black, red);
    height: 100vh;
    color: white;
}
 
section {
    
    background-image: url(galaxy.jpg); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ! و ممكن اختصر الكلام ده كله عن طريق كتابة انيم بالانجليزي ثم تاب و من ثم تدخل القيم*/
    /*! animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: background 10s linear 0s infinite normal both running;
    transition: 2s;

}
/*  
@keyframes background {
    0% {
        background-image: linear-gradient(to  center,  #9900ff17 , #ff00885e), 
                    url(galaxy.jpg);
    }
     
    12% {
        background-image: linear-gradient(to right,  #ff00885e ,  #9900ff17  ), 
                    url(galaxy.jpg);
    }
    24% {
         background-image: linear-gradient(to right bottom,   #9900ff17  , #ff00885e), 
                    url(galaxy.jpg);
    }
    36% {
         background-image: linear-gradient(to bottom,  #ff00885e   , #9900ff17  ), 
                    url(galaxy.jpg);
    }
    48% {
         background-image: linear-gradient(to bottom left,  #9900ff17  , #ff00885e  ), 
                    url(galaxy.jpg);
    }
    60% {
         background-image: linear-gradient(to left, #ff00885e, #9900ff17 ), 
                    url(galaxy.jpg);
    }
    72% {
         background-image: linear-gradient(to top left,  #9900ff17 , #ff00885e   ), 
                    url(galaxy.jpg);
    }
    84%{
        background-image: linear-gradient(to top,  #ff00885e,  #9900ff17), 
                    url(galaxy.jpg);
    }
    100%{
        background-image: linear-gradient(to top right,  #9900ff17 , #ff00885e), 
                    url(galaxy.jpg);
    }  
    

} */

ul {
    text-align: center;
}

ul li{
    /*! عشان تمسح النقاط التي قبل اللينك  */
    list-style: none;
    
    /*! مارجين من فوق و من تحت 14 بكسل و من اليمين و الشمال صفر */
    margin: 14px 0;
}    

ul:hover li a, ul:hover div, ul:hover li:after{
    opacity: 0; 
    transition: .5s;

}

ul li::after{
    content: attr(data-text);
    font-size: 80px;
    height: 100px;
    width: 550px;
    color: #fff;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
    letter-spacing: 20px;

    /*! عشان ميعملش التأثير طول ماالماوس في الصفحة اكتب السطر ده  */
    pointer-events: none;
}    

ul li:hover::after{
    opacity: .6;
    letter-spacing: 0px;
    /* animation-play-state: paused; */
} 

ul li::before{
    content: '';
    width: 180px;
    height: 180px;
    background-color: #fff;
    /*! مش عاوز اي ازاحة من محور الاكس او الواي يبقى صفر صفر */
    box-shadow: 0 0 80px 10px orangered;
    border-radius: 90px;
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    pointer-events: none;
    opacity: 0;

}

ul li:hover::before{
    opacity: 1;
    width: 90px;
    height: 90px;
    border-radius: 45px;
}


ul li a{
    color: white;
    text-decoration:none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    background: darkblue;
    border-radius: 10px;
    padding: 6px 15px;
    width: 130px;

    /*! transform doesn't work with inline elements like the links 'a' so you need to change it by: display: inline-block*/
    display: inline-block;

    /*! transition means the time that this action takes */
    transition: .5s; 

    position: relative;
    z-index: 1;
    
}    
 

ul li a:hover{
    /*! transform doesn't work with inline elements like the links 'a' so you need to change it by: display: inline-block*/
    transform: scale(1.5);
    background-color: darkmagenta;
    opacity: 1;
}

/*
todo لما اضغط على اليو ال التأثير يحدث لللينك 
todo يعني اعمل اخفاء لكل العناصر لما اضغط على اليو ال و اجي عند اللينك اللي 
todo ضغطت عليه اخليه الاخفاء يساوي 1 يعني يظهر و كمان لازم الكود بتاع الضغط على اللينك يكون تحت 
todo الكود بتاع الضغط على اليو ال لان اللينك جزء منه
*/


/*! i want to make an orbit */
ul .grandfather {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 535px;
    top: 385px;
    translate: -50%, -50%;
    animation: grandfather 4s linear 0s infinite normal none running;
    width: 155px;
    
    /*! smooth action */
    transition: 0.5s;
}
ul .grandmother {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 335px;
    top: 385px;
    animation: grandmother 4s linear 0s infinite normal none running;
    width: 160px;

}
ul .and {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 500px;
    top: 400px;
    /* margin: 14px 10px; */
    font-size: 30px;
    color: #07f83fb1;
    animation: and 10s linear 0s infinite normal none running;
    width: 8px;
    transition: .5s;
}
ul .ramadan {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 390px;
    top: 20px;
    animation: ramadan 10s linear 0s infinite normal none running;
    
}
ul .fatma {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 140px;    
    top: 130px;
    animation: fatma 10s linear 0s infinite normal both running;
}
ul .mom {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 50px;
    top: 385px;
    animation: mom 10s linear 0s infinite normal both running;
    width: 155px;
    
}
ul .hasan {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 100px;
    top: 580px;  /*! same difference as bottom: 130px;*/
    animation: hasan 10s linear 0s infinite normal both running;
}
ul .abeer {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 360px;
    top: 680px;
    animation: abeer 10s linear 0s infinite normal both running;
}
ul .eed {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 685px;
    top: 640px;
    animation: eed 10s linear 0s infinite normal both running;
}
ul .rabea {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 880px;
    top: 480px;
    animation: rabea 10s linear 0s infinite normal both running;
}
ul .shimaa {
    /*! relative means it'll not give it's spot */
    position: absolute;
    /* right: 60px; */
    left: 830px;
    top: 250px;
    animation: shimaa 10s linear 0s infinite normal both running;
}
ul .elamer_ali {
    /*! relative means it'll not give it's spot */
    position: absolute;
    left: 710px; 
    top: 70px;
    animation: ali 10s linear 0s infinite normal both running;

}
  
ul li{
    animation-play-state: paused;
}

/* 

@keyframes grandfather {
 

    9%{
        color: red;
        left: 545px;
        top: 335px;
    }
    18%{
        color: orange;
        left: 485px;
        top: 285px;
        
    } 
    27%{
        color: gold;
        left: 385px;
        top: 285px;
    }
    36%{
        color:yellow;
        left: 335px;
        top: 335px;
    }
    
    54%{
        color: #73ff00;
        left: 335px;
        top: 385px;
    }
    63%{
        color: blue;
        left: 335px;
        top: 435px;
    }
    72%{
        color: magenta;
        left: 385px;
        top: 485px;
    }
    81%{
        color: #4c00ffac;
        left: 485px;
        top: 485px;
    } 
}
@keyframes grandmother {
    9%{
        color: red;
        left: 335px;
        top: 435px;
    }
    18%{
        color: orange;
        left: 385px;
        top: 485px;
    }
    27%{
        color: gold;
        left: 485px;
        top: 485px;
    } 
    36%{
        color: yellow;
        left: 535px;
        top: 435px;
    }
    54%{
        color: #73ff00;
        left: 535px;
        top: 335px;
    }
    63%{
        color: #00ffaa;
        left: 485px;
        top: 285px;
        
    } 
    72%{
        color: #00fbff;
        left: 385px;
        top: 285px;
        
    }
    81%{
        color:rgb(174, 0, 255);
        left: 335px;
        top: 335px;
    }

}
@keyframes and {
    0%{
        color: white;
    } 
    9%{
        color: red;
    } 
    18%{
        color: orange;
    }  
    27%{
        color: gold;
    } 
    36%{
        color: yellow;
    }
    54%{
        color: #73ff00;
    }
    63%{
        color: #00ffaa;
    }
    72%{
        color: #00fbff;
    }
    81%{
        color: rgb(174, 0, 255);
    } 
    100%{
        color: rgb(34, 0, 255);
    }  
}
@keyframes ramadan {
    0%{
        color: white;
    } 
    !  fatma
    11%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    22%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    33%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    44%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    55%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    66%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    77%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    88%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramadan
    99%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
}
@keyframes fatma {
    0%{
        color: white;
    } 
    
    !  mom
    11%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    22%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    33%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    44%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    55%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    66%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    77%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramadan
    88%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
    ! fatma
    99%{
        color: red;
        left: 140px;
        top: 130px;
    }
}
@keyframes mom {
    0%{
        color: white;
    } 
    !  hasan
    11%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    22%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    33%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea 
    44%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    55%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    66%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! return home
    77%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
    !  fatma
    88%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    99%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    
}
@keyframes hasan {
    0%{
        color: white;
    } 
    !  abeer
    11%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    22%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    33%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    44%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    55%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramadan
    66%{color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
    !  fatma
    77%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    88%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    99%{
        color: gold;
        left: 100px;
        top: 580px;
    }
}
@keyframes abeer {
    0%{
        color: white;
    } 
   
    !  eed
    11%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    22%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    33%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    44%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramadan
    55%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    } !  fatma
    66%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    77%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    88%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    99%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
}
@keyframes eed {
    0%{
        color: white;
    }
    !  rabea
    11%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    22%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    33%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! return home
    44%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    } 
    !  fatma
    55%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    66%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    77%{ 
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    88%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    99%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
}
@keyframes rabea {
    0%{
        color: white;
    } 
   
    ! shimaa
    11%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    22%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramdan
    33%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
     !  fatma
    44%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    55%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    66%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    77%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    88%{ 
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    99%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
}
@keyframes shimaa {
    0%{
        color: white;
    } 
    
    !  ali
    11%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
    ! ramadan
    22%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
    !  fatma
    33%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    44%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    55%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    66%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    77%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    88%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    99%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
}
@keyframes ali {
    0%{
        color: white;
    } 
    
    ! ramadan
    11%{
        color: rgb(34, 0, 255);
        left: 390px;
        top: 20px;
    }
    !  fatma
    22%{
        color: red;
        left: 140px;
        top: 130px;
    }
    !  mom
    33%{
        color: orange;
        left: 50px;
        top: 385px;
    }
    !  hasan
    44%{
        color: gold;
        left: 100px;
        top: 580px;
    }
    !  abeer
    55%{
        color: yellow;
        left: 360px;
        top: 680px;
    }
    !  eed
    66%{
        color: #73ff00;
        left: 685px;
        top: 640px;
    }
    !  rabea
    77%{
        color: #00ffaa;
        left: 880px;
        top: 480px;
    }
    ! shimaa
    88%{
        color: #00fbff;
        left: 830px;
        top: 250px;
    }
    !  ali
    99%{
        color: rgb(174, 0, 255);
        left: 710px;
        top: 70px;
    }
}
 */
